<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.md">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-wallarm-index") %>>
          <a href="/docs/providers/wallarm/index.md">Wallarm Provider</a>
        </li>

        <li<%= sidebar_current("docs-wallarm-examples") %>>
          <a href="#">Guides</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-wallarm-guides-point") %>>
              <a href="/docs/providers/wallarm/guides/point.md">point</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-wallarm-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-wallarm-datasource-node") %>>
              <a href="/docs/providers/wallarm/data-sources/node.md">wallarm_node</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-datasource-vuln") %>>
              <a href="/docs/providers/wallarm/data-sources/vuln.md">wallarm_vuln</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-wallarm-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-wallarm-resource-user") %>>
              <a href="/docs/providers/wallarm/resources/user.md">wallarm_user</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-blacklist") %>>
              <a href="/docs/providers/wallarm/resources/blacklist.md">wallarm_blacklist</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-rule-vpatch") %>>
              <a href="/docs/providers/wallarm/resources/rule_vpatch.md">wallarm_rule_vpatch</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-rule-regex") %>>
              <a href="/docs/providers/wallarm/resources/rule_regex.md">wallarm_rule_regex</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-rule-ignore-regex") %>>
              <a href="/docs/providers/wallarm/resources/rule_ignore_regex.md">wallarm_rule_ignore_regex</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-rule-mode") %>>
              <a href="/docs/providers/wallarm/resources/rule_mode.md">wallarm_rule_mode</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-rule-masking") %>>
              <a href="/docs/providers/wallarm/resources/rule_masking.md">wallarm_rule_masking</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-rule-ignore-regex") %>>
              <a href="/docs/providers/wallarm/resources/rule_ignore_regex.md">wallarm_rule_ignore_regex</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-scanner") %>>
              <a href="/docs/providers/wallarm/resources/scanner.md">wallarm_scanner</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-node") %>>
              <a href="/docs/providers/wallarm/resources/node.md">wallarm_node</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-application") %>>
              <a href="/docs/providers/wallarm/resources/application.md">wallarm_application</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-global-mode") %>>
              <a href="/docs/providers/wallarm/resources/global_mode.md">wallarm_global_mode</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-trigger") %>>
              <a href="/docs/providers/wallarm/resources/trigger.md">wallarm_trigger</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-integration-email") %>>
              <a href="/docs/providers/wallarm/resources/integration_email.md">wallarm_integration_email</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-integration-insightconnect") %>>
              <a href="/docs/providers/wallarm/resources/integration_insightconnect.md">wallarm_integration_insightconnect</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-integration-opsgenie") %>>
              <a href="/docs/providers/wallarm/resources/integration_opsgenie.md">wallarm_integration_opsgenie</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-integration-pagerduty") %>>
              <a href="/docs/providers/wallarm/resources/integration_pagerduty.md">wallarm_integration_pagerduty</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-integration-slack") %>>
              <a href="/docs/providers/wallarm/resources/integration_slack.md">wallarm_integration_slack</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-integration-splunk") %>>
              <a href="/docs/providers/wallarm/resources/integration_splunk.md">wallarm_integration_splunk</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-integration-sumologic") %>>
              <a href="/docs/providers/wallarm/resources/integration_sumologic.md">wallarm_integration_sumologic</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-resource-integration-webhook") %>>
              <a href="/docs/providers/wallarm/resources/integration_webhook.md">wallarm_integration_webhook</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-extra-resource-rule-attack-rechecker") %>>
              <a href="/docs/providers/wallarm/resources/rule_attack_rechecker.md">wallarm_rule_attack_rechecker</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-extra-resource-rule-attack-rechecker-rewrite") %>>
              <a href="/docs/providers/wallarm/resources/rule_attack_rechecker_rewrite.md">wallarm_rule_attack_rechecker_rewrite</a>
            </li>
            <li<%= sidebar_current("docs-wallarm-extra-resource-rule-set-response-header") %>>
              <a href="/docs/providers/wallarm/resources/rule_set_response_header.md">wallarm_rule_set_response_header</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
<% end %>
<%= yield %>
<% end %>
